In [13]:
import numpy as np
import pandas as pd

my_data = pd.read_csv('animal.txt')
animal_names = my_data['Unnamed: 0']
my_data

   Unnamed: 0  war  fly  ver  end  gro  hai
0         ant    1    1    1  1.0  2.0    1
1         bee    1    2    1  1.0  2.0    2
2         cat    2    1    2  1.0  1.0    2
3         cpl    1    1    1  1.0  1.0    2
4         chi    2    1    2  2.0  2.0    2
5         cow    2    1    2  1.0  2.0    2
6         duc    2    2    2  1.0  2.0    1
7         eag    2    2    2  2.0  1.0    1
8         ele    2    1    2  2.0  2.0    1
9         fly    1    2    1  1.0  1.0    1
10        fro    1    1    2  2.0  NaN    1
11        her    1    1    2  1.0  2.0    1
12        lio    2    1    2  NaN  2.0    2
13        liz    1    1    2  1.0  1.0    1
14        lob    1    1    1  1.0  NaN    1
15        man    2    1    2  2.0  2.0    2
16        rab    2    1    2  1.0  2.0    2
17        sal    1    1    2  1.0  NaN    1
18        spi    1    1    1  NaN  1.0    2
19        wha    2    1    2  2.0  2.0    1

In [14]:
# handling NaN values in cells by taking mean of column and rounding off
my_data['end'].fillna(round(my_data['end'].mean()), inplace=True)
my_data['gro'].fillna(round(my_data['gro'].mean()), inplace=True)

In [15]:
my_data

   Unnamed: 0  war  fly  ver  end  gro  hai
0         ant    1    1    1  1.0  2.0    1
1         bee    1    2    1  1.0  2.0    2
2         cat    2    1    2  1.0  1.0    2
3         cpl    1    1    1  1.0  1.0    2
4         chi    2    1    2  2.0  2.0    2
5         cow    2    1    2  1.0  2.0    2
6         duc    2    2    2  1.0  2.0    1
7         eag    2    2    2  2.0  1.0    1
8         ele    2    1    2  2.0  2.0    1
9         fly    1    2    1  1.0  1.0    1
10        fro    1    1    2  2.0  2.0    1
11        her    1    1    2  1.0  2.0    1
12        lio    2    1    2  1.0  2.0    2
13        liz    1    1    2  1.0  1.0    1
14        lob    1    1    1  1.0  2.0    1
15        man    2    1    2  2.0  2.0    2
16        rab    2    1    2  1.0  2.0    2
17        sal    1    1    2  1.0  2.0    1
18        spi    1    1    1  1.0  1.0    2
19        wha    2    1    2  2.0  2.0    1

In [16]:
# creating a dist matrix of data points * data points
dist_matrix = np.zeros((len(my_data), len(my_data)))
dist_matrix.shape

(20, 20)

In [17]:
import math
# for each of the data points, we take the lower triangular matrix to store the euclidean distance of attributes for ith and jth data points
for i in range(0, len(dist_matrix)):
    for j in range(0, i):
        temp = 0
        # for each of the attributes in a data point
        for k in range(1, len(my_data.iloc[0])):
            # squaring
            temp += (my_data.loc[i][k] - my_data.loc[j][k]) ** 2
        # storing the sqrt of the square
        dist_matrix[i][j]= math.sqrt(temp)

In [18]:
# to display as a dataframe
distance = pd.DataFrame(dist_matrix, animal_names, animal_names)
distance

Unnamed: 0,ant,bee,cat,cpl,chi,cow,duc,eag,ele,fly,fro,her,lio,liz,lob,man,rab,sal,spi,wha
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
ant,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
bee,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
cat,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
cpl,1.414214,1.414214,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
chi,2.000000,2.000000,1.414214,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
cow,1.732051,1.732051,1.000000,1.732051,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
duc,1.732051,1.732051,1.732051,2.236068,1.732051,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
eag,2.236068,2.236068,1.732051,2.236068,1.732051,2.000000,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
ele,1.732051,2.236068,1.732051,2.236068,1.000000,1.414214,1.414214,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
fly,1.414214,1.414214,2.000000,1.414214,2.449490,2.236068,1.732051,1.732051,2.236068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
fro,1.414214,2.000000,2.000000,2.000000,1.414214,1.732051,1.732051,1.732051,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
her,1.000000,1.732051,1.732051,1.732051,1.732051,1.414214,1.414214,2.000000,1.414214,1.732051,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
lio,1.732051,1.732051,1.000000,1.732051,1.000000,0.000000,1.414214,2.000000,1.414214,2.236068,1.732051,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
liz,1.414214,2.000000,1.414214,1.414214,2.000000,1.732051,1.732051,1.732051,1.732051,1.414214,1.414214,1.000000,1.732051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
lob,0.000000,1.414214,2.000000,1.414214,2.000000,1.732051,1.732051,2.236068,1.732051,1.414214,1.414214,1.000000,1.732051,1.414214,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
man,2.000000,2.000000,1.414214,2.000000,0.000000,1.000000,1.732051,1.732051,1.000000,2.449490,1.414214,1.732051,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0
rab,1.732051,1.732051,1.000000,1.732051,1.000000,0.000000,1.414214,2.000000,1.414214,2.236068,1.732051,1.414214,0.000000,1.732051,1.732051,1.000000,0.000000,0.000000,0.000000,0.0
sal,1.000000,1.732051,1.732051,1.732051,1.732051,1.414214,1.414214,2.000000,1.414214,1.732051,1.000000,0.000000,1.414214,1.000000,1.000000,1.732051,1.414214,0.000000,0.000000,0.0
spi,1.414214,1.414214,1.414214,0.000000,2.000000,1.732051,2.236068,2.236068,2.236068,1.414214,2.000000,1.732051,1.732051,1.414214,1.414214,2.000000,1.732051,1.732051,0.000000,0.0
wha,1.732051,2.236068,1.732051,2.236068,1.000000,1.414214,1.414214,1.414214,0.000000,2.236068,1.000000,1.414214,1.414214,1.732051,1.732051,1.000000,1.414214,1.414214,2.236068,0.0

In [19]:
# dictionary to store the pairwise difference
data_dict = {}
for i in range(0,len(distance)):
    for j in range(0,i):
        data_dict[animal_names[i] + "-" + animal_names[j]] = dist_matrix[i][j]

# data_dict

In [20]:
# Sort data_dict based on the values (ascending)
sorted_data_dict = sorted(data_dict.items(), key=lambda x: x[1])
# showing only 10 most similar animals (lowest difference)
sorted_data_dict[:10]

[('lio-cow', 0.0),
 ('lob-ant', 0.0),
 ('man-chi', 0.0),
 ('rab-cow', 0.0),
 ('rab-lio', 0.0),
 ('sal-her', 0.0),
 ('spi-cpl', 0.0),
 ('wha-ele', 0.0),
 ('cow-cat', 1.0),
 ('cow-chi', 1.0)]